# Filtrage collaboratif avec Implicit

## Donn√©es

### Chargement du dataframe global

In [1]:
import pandas as pd

df = pd.read_parquet("./data/df_final.parquet")
print("‚úÖ Dataset recharg√© avec succ√®s.")

‚úÖ Dataset recharg√© avec succ√®s.

In [2]:
df.head()

,user_id,session_id,session_start,session_size,click_article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,...,31,32,33,34,35,36,37,38,39,40
0,0,1506825423271737,1506825423000,2,157541,1506826828020,4,3,20,1,...,-0.321484,0.910162,-0.413011,0.680835,-0.418409,-0.526443,0.305625,-0.307805,-0.606366,-0.650556
1,0,1506825423271737,1506825423000,2,68866,1506826858020,4,3,20,1,...,-1.001013,0.797471,-0.492230,-0.305857,-1.307835,0.354010,0.696917,-0.486316,0.017210,-1.563045
2,1,1506825426267738,1506825426000,2,235840,1506827017951,4,1,17,1,...,-0.269690,0.873445,0.194144,0.056367,-0.431036,-0.020383,-0.376942,0.814494,0.709722,-1.030146
3,1,1506825426267738,1506825426000,2,96663,1506827047951,4,1,17,1,...,0.144034,-2.457183,-1.500929,-1.807169,-0.208940,-0.671638,-0.407914,2.561696,-1.379031,-1.877568
4,2,1506825435299739,1506825435000,2,119592,1506827090575,4,1,17,1,...,-1.163678,-0.230112,-2.132536,-0.729996,0.581913,-0.559910,-0.354824,-0.914158,-0.064399,-0.354175

### Liste des articles

In [3]:
df_articles = pd.read_csv("./data/articles_with_popularity.csv", encoding='utf-8')
df_articles

,article_id,category_id,created_at_ts,publisher_id,words_count,cluster,publish_time_dt,nb_clics,popularite_tag,popularity_norm
0,0,0,1513144419000,0,168,16,2017-12-13 05:53:39,0,jamais_cliqu√©,0.000000
1,1,1,1405341936000,0,189,11,2014-07-14 12:45:36,0,jamais_cliqu√©,0.000000
2,2,1,1408667706000,0,250,3,2014-08-22 00:35:06,0,jamais_cliqu√©,0.000000
3,3,1,1408468313000,0,230,3,2014-08-19 17:11:53,1,banal,0.000027
4,4,1,1407071171000,0,162,3,2014-08-03 13:06:11,0,jamais_cliqu√©,0.000000
...,...,...,...,...,...,...,...,...,...,...
364042,364042,460,1434034118000,0,144,2,2015-06-11 14:48:38,0,jamais_cliqu√©,0.000000
364043,364043,460,1434148472000,0,463,7,2015-06-12 22:34:32,8,banal,0.000215
364044,364044,460,1457974279000,0,177,6,2016-03-14 16:51:19,0,jamais_cliqu√©,0.000000
364045,364045,460,1515964737000,0,126,1,2018-01-14 21:18:57,0,jamais_cliqu√©,0.000000
364046,364046,460,1505811330000,0,479,7,2017-09-19 08:55:30,2,banal,0.000054

### Chargement des embeddings r√©duits

In [4]:
import pandas as pd

embeddings_df = pd.read_parquet('./data/articles_embeddings_pca.parquet')
print(embeddings_df.shape)

(364047, 41)

In [5]:
embeddings_df.head()

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
article_id,,,,,,,,,,,,,,,,,,,,,
0,-1.854453,-5.592402,1.708724,-3.835164,1.415795,0.252210,0.426074,0.545480,-0.807394,1.520171,...,0.387738,-0.088799,0.990514,1.060148,-0.218378,-1.099852,-1.175524,1.370632,-0.264816,0.010117
1,-5.361997,4.122991,-2.357516,-3.428017,-0.431079,3.722260,2.389835,-1.267244,1.944162,2.980629,...,0.025565,-0.721510,0.649929,-0.405225,-0.090690,-3.094968,0.075186,0.245235,-1.250343,0.294538
2,-3.600085,-0.132112,-6.027451,0.985617,0.211965,4.591712,-1.815688,-2.170389,-2.783090,2.804910,...,0.565647,-1.862223,-0.336458,0.072410,0.241466,-0.877634,0.154883,1.133963,0.946740,-1.811314
3,-1.158963,7.293352,-5.916713,-1.370524,2.172241,-1.682487,1.070822,-2.160001,1.947324,4.069597,...,0.074049,-0.612824,-1.511408,1.071736,1.991838,-2.076190,-1.690459,-1.122692,0.714619,-1.576244
4,-1.142884,2.569328,-2.891860,-0.273997,2.913007,5.608970,0.308953,0.310888,-1.054171,2.158180,...,-1.527867,-0.155615,-0.163345,0.037253,1.173636,-4.232923,-1.287476,1.053438,-0.486085,-0.144550

In [6]:
# conversion des embeddings en tableau NumPy (√©vite de calculer la matrice de similarit√© compl√®te)
import numpy as np
article_ids = embeddings_df.index.to_numpy()
article_embeddings = embeddings_df.to_numpy()

# dictionnaire article_id -> vecteur
embedding_dict = dict(zip(article_ids, article_embeddings))

### Echantilonnage

In [7]:
def create_subset(df, n_users=None, n_articles=None, n_interactions=None, seed=42, filter_sparse=False):
    """
    Cr√©e un sous-√©chantillon du DataFrame d'interactions avec un filtrage
    optionnel par nombre d'utilisateurs, d'articles, de lignes, et supprime
    les utilisateurs/articles sans interaction positive si filter_sparse=True.

    Args:
        df (DataFrame): DataFrame principal (doit contenir 'user_id' et 'click_article_id')
        n_users (int, optional): nombre d'utilisateurs √† conserver
        n_articles (int, optional): nombre d'articles les plus populaires √† conserver
        n_interactions (int, optional): nombre total de lignes √† conserver (apr√®s filtrage users/articles)
        seed (int): graine pour √©chantillonnage al√©atoire
        filter_sparse (bool): si True, supprime les users/items sans interactions positives

    Returns:
        df_subset (DataFrame): le DataFrame filtr√©
    """
    df_subset = df.copy()

    if n_users is not None:
        selected_users = df_subset['user_id'].drop_duplicates().sample(n_users, random_state=seed)
        df_subset = df_subset[df_subset['user_id'].isin(selected_users)]

    if n_articles is not None:
        top_articles = df_subset['click_article_id'].value_counts().head(n_articles).index
        df_subset = df_subset[df_subset['click_article_id'].isin(top_articles)]

    if n_interactions is not None and len(df_subset) > n_interactions:
        df_subset = df_subset.sample(n_interactions, random_state=seed)

    # üßΩ Nettoyage des utilisateurs/articles sans rating positif
    if filter_sparse:
        if 'rating' in df_subset.columns:
            pos = df_subset[df_subset['rating'] > 0]
            valid_users = pos['user_id'].unique()
            valid_items = pos['article_id'].unique()
            df_subset = df_subset[
                df_subset['user_id'].isin(valid_users) &
                df_subset['article_id'].isin(valid_items)
            ]

    return df_subset

## Pr√©paration des donn√©es pour Implicit